<footer>
    <div>Website by Michael Albinson &copy; 2017-2019</div>
    <div>Where's That Bill? is written in Python and is open source. <a href="" target="_blank">See the GitHub repo.</a></div>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-10">
            <a href="/about">About</a>
        </div>
    </div>
</footer>
