@font-face {
    font-family: 'attraction';
    src: url('/css/font/attractionpersonaluse-rx16-webfont.woff2') format('woff2'),
         url('/css/font/attractionpersonaluse-rx16-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --theme-color: red;
    --darker-theme: darkred;
    --accent-color: lightblue;
    --background-color: white;
}

body {
    text-align: center;
    background-color: var(--background-color);
}

h1, h2 {
    font-family: 'attraction', sans-serif;
}

header {
    max-height: 200px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.row {
    margin: 0 !important;
}

.percent-80 {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}

.flow-icn {
    width: 50%;
}

img.rep-img {
    max-width: 180px;
}

.half-flow-icn {
    width: 25%;
}

input {
    width: 50%;
}

.center-flex {
    justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

footer {
    padding-top: 1rem;
    background-color: black;
    min-height: 250px;
    color: white;
    text-align: center;
}

footer a {
    color: lightblue
}

footer a:hover {
    color: lightblue
}

header {
    background-color: white;
    border-bottom: solid black 2px;
    height: 5rem;
    text-align: left;
}

header img {
    height: 4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

div.push {
    height: 15rem;
}

.hidden {
    display: none;
}

